*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: #333;
  margin: 0;
  font-size: 6vmin;
  
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(background2.jpg) no-repeat center;
  background-size: cover;
  filter: none;
  z-index:1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background: rgba(34, 34, 34, 0.6);
  backdrop-filter: blur(10px);
  gap: var(--cell-gap);
  border-radius: 1vmin;
  padding: var(--cell-gap);
  position: relative;
}

.cell {

  backdrop-filter: blur(10px);
  border-radius: 1vmin;
  background: rgb(195 229 254) 19%)
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 1vmin;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  background-color: hsl(100, 50%, var(--background-lightness)) !important;
  color: hsl(100, 25%, var(--text-lightness)) !important;
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
  z-index:10;

}

@keyframes show {
  0% {
    opacity: .5;
    transform: scale(0);
  }
}
